@import url(reset.css);

#device, #frame, #D-pad, #C-pad {
    border: solid 1px black;
}

:root{
    --pad-diameter: 10rem;
    --btn-diameter: 4rem;
}

#device{
    display: flex;
    align-items: center;
    width: 100rem;
    height: 45rem;
    margin: 10rem auto 0;
    padding: 2rem ;
}
#D-pad{
    position: relative;
    width: var(--pad-diameter);
    height: var(--pad-diameter);
}
#D-pad button{
    position: absolute;
    top: calc(50% - var(--btn-diameter)/2);
    left: calc(50% - var(--btn-diameter)/2);;
}
#D-pad #btn-up{
    top: 0;
}
#D-pad #btn-down{
    top: calc(var(--pad-diameter) - var(--btn-diameter));
}
#D-pad #btn-left{
    left: 0;
}
#D-pad #btn-right{
    left: calc(var(--pad-diameter) - var(--btn-diameter));;
}
#frame{
    width: 70rem;
    height: 40rem;
    margin: 0 auto;
}
#C-pad{
    width: var(--pad-diameter);
    height: var(--pad-diameter);
}
.pad-btn{
    width: var(--btn-diameter);
    height: var(--btn-diameter);
    background-color: rgb(233, 232, 188);
    border-radius: 50%;
}