@import url(reset.css);/* reset css */
@font-face {
    font-family: "neodgm";
    src: url(../src/font/neodgm_pro.ttf) format("truetype");
}

.hidden{
    display: none !important;
}

frame body, h1, h2, h3, h4, h5, h6, button, input, span {
    font-family: var(--frame-font);
}

img {
    filter:grayscale();
}

/* variable repository */
:root{
    --pad-diameter: 12.5rem;
    --btn-diameter: 4.5rem;
    --dressingroom-outfitSpace: calc(100% - 6rem);

    --main-color: rgb(233, 232, 188);
    --bg-card-color: rgba(124, 124, 124, .7);
    --box-shadow-brighten: rgb(255, 255, 255);
    --box-shadow-darken: rgb(153, 153, 123);

    --main-font: Verdana, Geneva, Tahoma, sans-serif;
    --frame-font: "neodgm";
    --font-size-title: 3.6rem;
    --font-size-text: 1.8rem;
    
    --preLook-W-size: 20rem;
    --preLook-hat-H-size: 15rem;
    --preLook-cloth-H-size: 12rem;
    --preLook-shoes-H-size: 4rem;
    --preLook-basic-H-size: 23rem;
}

/* body style */
body{
    background-color: var(--main-color);
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 10vh;
    margin: 6vh auto 0;
}
#title h1{
    color: var(--main-color);
    font-size: 12vh;
    font-weight: bold;
    font-family: var(--main-font);
    text-shadow: var(--box-shadow-brighten) 2px 2px 2.5px,
                var(--box-shadow-darken) -1.5px -1.5px 3px;
    filter: brightness(96%);
}

/* device style */
#device{
    display: flex;
    align-items: center;
    width: 100rem;
    height: 45rem;
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: rgba(255, 255, 220, 0.8) -20px -20px 60px,
                rgba(197, 197, 150, 0.8) 20px 20px 80px;
    margin: 8vh auto;
    padding: 2rem 1rem ;
}

/* frame style */
#frame{
    width: 70rem;
    height: 40rem;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
    box-shadow: inset rgba(65, 65, 65, 0.7) 1px 1px 5px;
    margin: 0 auto;
    overflow: hidden;
}

/* frame > createId-page style */
#createId-Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
}
#create-id{
    width: 100%;
    height: 10rem;
}
#create-id h2{
    font-size: var(--font-size-title);
    font-weight: lighter;
}
#create-id input{
    width: 30rem;
    height: 5rem;
    text-align: center;
    font-size: 2.4rem;
    background-color: inherit;
    border: solid 3px rgba(80, 80, 80, 0.9);
    margin-top: 1rem;
}
#create-id input:focus{
    outline: none;
    caret-color: transparent;
    background-color: rgba(124, 124, 124, .7);
}
#create-id input::placeholder{
    font-size: var(--font-size-text);
    color: rgba(48, 48, 48, 0.8);
}
#createId-Page button{
    width: 20rem;
    height: 3rem;
    font-size: var(--font-size-text);
    border: solid 0.2rem black;
    border-radius: 10px;
    margin-top: 2rem;
}

/* frame > selectId-page style */
#selectId-Page{
    text-align: center;
}
#selectId-Page h2{
    font-size: var(--font-size-title);
    font-weight: lighter;
    margin: 2.5rem auto 1.5rem;
}
#selectId-Page ol{
    display: flex;
    width: 100%;
    height: 26rem;
    margin: 1rem auto .5rem;
    padding: 1rem 0;
    overflow-x: auto;
}
#selectId-Page ol::-webkit-scrollbar{display: none;}
#selectId-Page ol li{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 20rem;
    height: 24rem;
    background-color: var(--bg-card-color);
    border-radius: 1.5rem;
    margin: 0rem 1rem;
    padding: 1rem auto;
}
#selectId-Page ol li::after{
    content: "";
    width: 20rem;
}
#selectId-Page ol li:hover{
    transform: scale(1.05);
    border: solid 4px rgba(0, 0, 0, .7);
}
#selectId-Page ol li span{
    font-size: var(--font-size-text);
}
#selectId-Page ol li>div{
    position: relative;
    width: 12rem;
    height: 16rem;
    margin: .25rem auto 1.25rem;
}
#selectId-Page ol li>div img{
    position: absolute;
    width: 12rem;
    height: auto;
    top: calc(50% - 5.5rem);
    left: calc(50% - 6rem);
}
#selectId-Page ol li>div img.hat{
    top: calc(.2rem);
}
#selectId-Page ol li>div img.cloth{
    top: calc(8.5rem);
}
#selectId-Page ol li>div img.shoes{
    top: calc(14rem);
}
#selectId-Page ol li button{
    width: 10rem;
    height: 2.2rem;
    font-size: var(--font-size-text);
    line-height: 145%;
    background-color: rgba(112, 112, 112, 0.8);
    border-radius: 2rem;
    margin: 0 auto;
}
#selectId-Page #createNewId-btn{
    width: 20rem;
    height: 3rem;
    font-size: var(--font-size-text);
    border: solid 0.2rem black;
    border-radius: 10px;
    margin-top: 1rem;
}

/* frame > dressingroom-page style */
#dressingroom-page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
#dressingroom-page > button{
    width: 7rem;
    height: 3rem;
    font-size: var(--font-size-text);
    line-height: 80%;
    border: solid 3px black;
    border-radius: 1.5rem;
    margin: 2rem 1.5rem 1rem;
}
#dressingroom-page > button:hover{
    transform: scale(1.1);
}
#dressingroom-page h2{
    width: 50rem;
    height: 3rem;
    font-size: var(--font-size-title);
    font-weight: lighter;
    text-align: center;
    margin: 2rem 0 1rem;
}

#pre-look{
    position: relative;
    width: 50%;
    height: var(--dressingroom-outfitSpace);
    /* transform: rotateY(180deg); */
}
#pre-look img{
    position: absolute;
}
#pre-look img.basic{
    width: var(--preLook-W-size);
    height: var(--preLook-basic-H-size); /* 23rem */
    top: calc(50% - 23rem/2);
    left: calc(50% - 20rem/2);
    z-index: 0;
    /* opacity: 50%; */
}
#pre-look img.hat{
    width: var(--preLook-W-size);
    height: var(--preLook-hat-H-size); /* 14rem */
    top: calc(1.5rem);
    left: calc(50% - 20rem/2);
    z-index: 2;
}
#pre-look img.cloth{
    width: var(--preLook-W-size);
    height: var(--preLook-cloth-H-size); /* 12rem */
    top: calc(15.5rem);
    left: calc(50% - 20rem/2);
    z-index: 1;
}
#pre-look img.shoes{
    width: var(--preLook-W-size);
    height: var(--preLook-shoes-H-size); /* 4rem */
    top: calc(24.5rem);
    left: calc(50% - 20rem/2);
    z-index: 2;
}

#closet{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: var(--dressingroom-outfitSpace);
    padding: 1.2rem;
    overflow-y: auto;
}
#closet::-webkit-scrollbar{
    display: none;
}
#closet li{
    width: 6.5rem;
    height: 6.5rem;
    line-height: 7rem;
    border-radius: 2rem;
    background-color: var(--bg-card-color);
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}
#closet li:hover{
    border: solid 4px black;
    border-radius: 2rem;
    padding: 0;
    transform: scale(1.1);
}
#closet li img{
    width: 100%;
}

/* pads style */
.pad-btn{
    width: var(--btn-diameter);
    height: var(--btn-diameter);
    color: rgba(99, 99, 82, 0.7);
    background-color: var(--main-color);
    border-radius: 50%;
    text-shadow: rgb(247, 246, 226) 0.8px 0.8px 0.5px,
                rgba(32, 32, 28, 0.3) -0.6px -0.6px 1px;
    box-shadow: var(--box-shadow-brighten) -2px -2px 5px,
                var(--box-shadow-darken) 2px 2px 6px;
}
.pad-btn:active{
    filter: brightness(90%);
}

#D-pad{
    position: relative;
    width: var(--pad-diameter);
    height: var(--pad-diameter);
}
#D-pad button{
    position: absolute;
    top: calc(50% - var(--btn-diameter)/2);
    left: calc(50% - var(--btn-diameter)/2);
}
#D-pad button img{
    filter:opacity(50%)
}
#D-pad #btn-up{
    top: 0;
}
#D-pad #btn-down{
    top: calc(var(--pad-diameter) - var(--btn-diameter));
}
#D-pad #btn-left{
    left: 0;
}
#D-pad #btn-right{
    left: calc(var(--pad-diameter) - var(--btn-diameter));;
}

#C-pad{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: var(--pad-diameter);
    height: var(--pad-diameter);
}
#C-pad button{
    font-family: var(--main-font);
    font-weight: 900;
}
#C-pad button:first-child{
    margin-bottom: 10px;
}
#C-pad button:last-child{
    margin-bottom: 50px;
}
